/build/
spring-boot-shardingjdbc/target/
spring-boot-shardingjdbc/.idea/*
spring-boot-shardingjdbc/*.iml
target/
bin/
.project
.classpath
.settings/
*~
*.orig
*.new
.idea/
*.iml
*.ipr
test/**/build/
examples/**/build/
*.log
*.cache
*.patch
*.tmp
logBackup/
tmp/